/* TEXT */
.header__search--btn {
  text-indent: -9999em;
}

.search-form__selector-box .selector--btn {
  text-align: left;
}

.search-form--input-box .search-form--recom, .search-form__selector-box .selector-box__list, .search-form__selector-box .selector--btn, .header__main .header__category-list, .header__bar .apply_store__list li, .header .gnb_list a, .header__user-menu {
  font-size: 12px;
}

/* COLOR */
/* LAYOUT */
.layout-inner {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

/* ETC */
/* HEADER */
.header .layout-inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header__bar {
  height: 32px;
  font-size: 11px;
  line-height: 32px;
  background-color: #f0f0f0;
}
.header__bar-menu > ul {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.header__bar-menu.left > ul > li {
  margin-left: 12px;
}
.header__bar-menu.right > ul > li {
  margin-right: 12px;
}
.header__logo {
  height: 41px;
  flex-shrink: 0;
}
.header__search {
  width: 100%;
  height: 41px;
  margin-left: 20px;
  border-width: 2px;
  border-color: #4285f4;
  border-style: solid;
  box-sizing: border-box;
}
.header__search--btn {
  position: absolute;
  top: 0;
  right: 0;
}
.header__search .search-form--input {
  width: 100%;
  height: 100%;
  padding-right: 50px;
  font-size: 14px;
  box-sizing: border-box;
}
.header__user-menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}
.header__user-menu a {
  margin-left: 20px;
}
.header__user-menu a .icon {
  margin: 0 auto;
}
.header__user-menu a .icon.mycoupang {
  margin-bottom: 5px;
}
.header__user-menu a .icon.cart {
  position: relative;
  margin-bottom: 2px;
}
.header__user-menu a .icon.cart .cart_num {
  position: absolute;
  top: 5px;
  right: 9px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  font-family: Tahoma;
}
.header .gnb_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .gnb_list a {
  display: block;
  padding: 10px 14px;
}

.header__bar .apply_store {
  position: relative;
}
.header__bar .apply_store--btn .apply_store--icon {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}
.header__bar .apply_store__list {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 100%;
  padding: 8px 20px;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 1;
}
.header__bar .apply_store__list li {
  margin: 12px 0;
  line-height: 1;
}
.header__bar .apply_store__list li:hover {
  color: #4285f4;
  text-decoration: underline;
}
.header__bar .apply_store:hover .apply_store__list {
  display: block;
}

.header__main {
  border-width: 1px;
  border-color: #eee;
  border-style: solid;
}
.header__main .header__category {
  position: relative;
  flex-shrink: 0;
  width: 110px;
  margin-right: 30px;
}
.header__main .header__category:hover .header__category-list {
  display: block;
}
.header__main .header__category--btn {
  padding-top: 45px;
  font-size: 13px;
  color: #fff;
}
.header__main .header__category-list {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  box-sizing: border-box;
  box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.3);
}
.header__main .header__category-list .category-list__sub-depth {
  display: none;
  position: absolute;
  top: -1px;
  left: 148px;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  width: 500px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}
.header__main .header__category-list .category-list__sub-depth .category-list__depth03 {
  display: none;
  position: absolute;
  top: 0;
  left: 150px;
  border-width: 1px;
  border-color: #ddd;
  border-left-style: solid;
}
.header__main .header__category-list ul {
  width: 150px;
  min-height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}
.header__main .header__category-list ul + ul {
  border-width: 1px;
  border-color: #ddd;
  border-top-style: solid;
}
.header__main .header__category-list ul a {
  display: block;
  padding: 5px 20px;
}
.header__main .header__category-list ul a:hover {
  text-decoration: underline;
  color: #4285f4;
  font-weight: 700;
}
.header__main .header__contents {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  padding-top: 25px;
}
.header__main .header__contents > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__spriteImg {
  background: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png) no-repeat;
}
.header__spriteImg.header__category--btn {
  width: 100%;
  height: 115px;
  background-position: 0 0;
}
.header__spriteImg.apply_store--icon {
  width: 10px;
  height: 3px;
  background-position: -153px -36px;
}
.header__spriteImg.selector--btn--icon {
  width: 30px;
  height: 30px;
  background-position: 6px -165px;
}
.header__spriteImg.header__search--btn {
  width: 50px;
  height: 100%;
  background-position: -112px -71px;
}
.header__spriteImg.mycoupang {
  width: 29px;
  height: 31px;
  background-position: -112px -42px;
}
.header__spriteImg.cart {
  width: 40px;
  height: 41px;
  background-position: -112px 0;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}
.search-form__selector-box {
  width: 134px;
  height: 100%;
  flex-shrink: 0;
  border-width: 1px;
  border-color: #ddd;
  border-right-style: solid;
}
.search-form__selector-box .selector--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
.search-form__selector-box .selector-box__list {
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.2s ease-out;
}
.search-form__selector-box .selector-box__list a {
  display: block;
  padding: 5px 0;
}
.search-form__selector-box .selector-box__list a:hover {
  color: #4285f4;
  text-decoration: underline;
}
.search-form__selector-box.open .selector--btn--icon {
  background-position: 6px -142px;
}
.search-form__selector-box.open .selector-box__list {
  transform: scaleY(1);
}
.search-form--input-box {
  width: 100%;
}
.search-form--input-box .search-form--recom {
  display: none;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  background-color: #fff;
}
.search-form--input-box .search-form--recom .resent_ttl {
  display: none;
  margin: 0 10px;
  padding: 15px 0 10px;
  border-width: 1px;
  border-color: #ddd;
  border-bottom-style: solid;
  font-weight: 700;
}
.search-form--input-box .search-form--recom .search_words {
  height: 150px;
  padding: 10px;
  overflow-y: scroll;
}
.search-form--input-box .search-form--recom .search_words a {
  display: block;
  margin-bottom: 10px;
}
.search-form--input-box .search-form--recom .search_words a strong {
  color: #4285f4;
}
.search-form--input-box .search-form--recom .search_words a:hover {
  text-decoration: underline;
}
.search-form--input-box .search-form--recom .recent_controll {
  display: none;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
.search-form--input-box .search-form--recom .recent_controll button {
  color: #888;
}
.search-form--input-box .search-form--recom .recent_controll button:hover {
  text-decoration: underline;
}
.search-form--input-box .search-form--recom.resent a:hover {
  color: #4285f4;
}
.search-form--input-box .search-form--recom.resent .recent_controll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-form--input-box .search-form--recom.resent .resent_ttl {
  display: block;
}

/*# sourceMappingURL=style.css.map */
